Discrepancy between client and server in evaluation of resource field

There appears to be a discrepancy between client and server in how the resource field is set when calculating MACs.

The client will always use "uri.pathname + (uri.search || '')" (client.js line 94) which will never include base URL.

The server will read "request.url" (server.js line 118, utils.js line 75). 

Per Section 5.1.2 of RFC 2616, the uri provided in the request could be either an absolute URI:

```
    GET http://www.w3.org/pub/WWW/TheProject.html HTTP/1.1
```

or an absolute path alongside with a separate host field:

```
   GET /pub/WWW/TheProject.html HTTP/1.1
   Host: www.w3.org
```

In the case where the request contains the absolute URI, the server will use a resource value of "http://www.w3.org/pub/WWW/TheProject.html" to generate its MAC while the client would use a resource value of "/pub/WWW/TheProject.html" to generate its MAC, leading to an authentication failure.

We encountered this issue and were able to fix it by re-formatting http requests on the client side so they used absolute paths rather than absolute URIs.

It would be beneficial to clarify whether the resource should be uri.pathname + uri.search or request.url in future versions of hawk.
